.section{
    box-shadow: var(--shadow);
    padding: 2vw;
    border-radius: 1vw;
    width: 30vw;
    height: 80vh;
}
.schedule{
    display: flex;
    flex-direction: row;
    justify-content:space-between
}
.schedule >p{
    all: unset;
    color: var(--text-color);
}